/*main content*/
.main_content {
    left: 0;
    height:100%;
    position:fixed;
    overflow-y: auto;
}

#mainContent {
    transition: left 0.3s;
}

/* all styles within mainContent should start with 'mc_' */

/*Side List*/
.mc_sideList {
    float: left;
    display: block;

    /*position: relative;*/
    height: auto;

    overflow-y: scroll;

    background-color: #5f5f5f;
    border:solid;
    border-width: 0px 0px 2px 0px;
}
.mc_sideList ul {
    list-style: none;
    padding: 0;
}
.mc_sideList a {
    display: block;
    color: #f1f1f1;
    white-space: nowrap; /*TODO: change? what if list gets too small?*/
    padding: 2px 2px 2px 2px;
}
.mc_sideList a:hover {
    background-color: black;
    cursor: pointer;
}
.mc_sideListDetail {
    opacity: 0;
    max-height: 0px;

    transition: 0.2s;
    overflow: hidden; /*VERY IMPORTANT, keeps details underneath other list items */

    color: #babab2;
    margin: 0;
    padding: 0px 2px 0px 2px;
    white-space: nowrap;
}
.mc_sideListDetailToggleIcon {
    float: right;
}

/*Menu Bar*/
.mc_menuBar {
    display: table;
    width: 100%;

    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #5f5f5f;

    border: solid;
    border-color: black;
    border-width: 0px 0px 2px 0px;
}

.mc_dropdown {
    float: left;
    top: 0;
    color: #bdbdbd;
}
.mc_dropdown ul {
    display: block;
    position: absolute;
    list-style:none;

    max-height: 200px;
    overflow-y: scroll;

    padding: 0px;
    margin: 0px;
    background-color: #818181;
    text-decoration: none;
}
.mc_dropdownItem a {
    display: none;
}
.mc_dropdownHeader {
    display: block;
    background-color: #5f5f5f;
    border: solid;
    border-color: black;
    border-width: 0px 2px 0px 0px;
    padding: 5px 8px 5px 8px;
}
.mc_dropdown:hover .mc_dropdownItem a{
    display: block;
}
.mc_dropdownHeader, .mc_dropdownItem a {
    text-align: left;
    text-decoration: none;
    color: #f1f1f1;
    white-space:nowrap;
    padding: 5px 8px 5px 8px;
}
.mc_dropdownItem a:hover {
    background-color: black;
}




/*Class Scheduling Specific*/
/*/////////////////////////*/
.mc_selectedClassList {
    min-height: 55%;
    max-height: 55%;
    width: 25%; /*paired with .mc_scheduleCalendar*/
}
.mc_sideListDetail_class {
    width: 100%;
    border-collapse: collapse;

    font-size: 1.25vw; /*close enough*/
    text-align: center;
}
.mc_sideListDetail_class, .mc_sideListDetail_class th, .mc_sideListDetail_class td {
    border: solid;
    border-color: #313131;
    border-width: 1px;
}
.mc_sideListDetail_class th {
    background-color: black;
}

.mc_scheduleCalendar {
    float: left;
    max-height: 55%;
    width: 75%; /*paired with .mc_sideList*/
    border:solid;
    border-width: 0px 0px 2px 0px;
}

.mc_classListMenu {
    clear: left;
}

.mc_classList {
    height: calc(45% - 43px - 30px); /*45%(compliment of sideList/calendar) - topNav height - menuBar height - */
    overflow-y: scroll;
    overflow-x: hidden;

    color: #c4c4bc;
    background-color: #5f5f5f;
}
.mc_classList table {
    width: 100%;
    border-collapse: collapse;
    border-width: 0px;
}
.mc_classList tbody {
    overflow-y: scroll;
}

.mc_classList td {
    height: 0px; /*hack to work with add/remove button*/

    border: solid;
    border-color: black;
    border-width: 1px;
    padding: 1px 2px 1px 2px;
}
.mc_classList td:first-child {
    border-left-width: 0px;
}
.mc_classList td:last-child {
    border-right-width: 0px;
}

.mc_classList tbody tr:hover td:not(:first-child) {
    background-color: black;
    cursor: default;
}

.mc_classList td:first-child {
    padding: 0px 0px 0px 0px;
}
.mc_classList_addRemoveSwitch {
    cursor: pointer;
    text-align: center;
    border: solid;
    border-color: black;
    border-width: 1px;
}
.mc_classListDetail {
    display: none;
    background-color: #8f8f8f;
    color: black;
}
.mc_classListDetail td div {
    padding: 0px 2px 0px 2px;
}