/*main content*/
.main_content {
    left: 0;
    height:100%;
    position:fixed;
    overflow-y: auto;
}

#mainContent {
    transition: left 0.3s;
}

/*calendar overrides*/
.calendarEvent_moreBorder {
    border-width: 2px !important;
}

/* all styles within mainContent should start with 'mc_' */

.mc_float_clear {
    display: block;
    clear: both;
}


/*Side List*/
.mc_sideList {
    float: left;
    display: block;
    height: auto;
    overflow-y: scroll;
    background-color: #5f5f5f;
    border: solid;
    border-width: 0px 0px 2px 0px;
}
.mc_sideListHeader {
    display: block;
    text-align:center;
    font-weight: bolder;
}
.mc_sideList ul {
    list-style: none;
    padding: 0;
}
.mc_sideList a {
    display: block;
    color: #f1f1f1;
    white-space: nowrap;
    padding: 2px 2px 2px 2px;
}
.mc_sideList a:hover {
    background-color: black;
    cursor: pointer;
}
.mc_sideListDetail {
    display: none;

    /*not needed since Using jquery to expand stuff*/
    /*overflow: hidden;*/ /*VERY IMPORTANT, keeps details underneath other list items */

    color: #babab2;
    margin: 0;
    padding: 0px 2px 0px 2px;
    white-space: nowrap;
}
.mc_sideListDetailToggleIcon {
    float: right;
}

/*Menu Bar*/
.mc_menuBar {
    display: table;
    width: 100%;

    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #5f5f5f;

    border: solid;
    border-color: black;
    border-width: 0px 0px 2px 0px;
}

.mc_menuBarItem {
    float:left;

    border: solid;
    border-color: black;
    border-width: 0px 2px 0px 0px;
}
.mc_menuBarItem > * {
    display: block;
    padding: 5px 8px 5px 8px;
}

.mc_dropdown {
    top: 0;
    color: #bdbdbd;
}
.mc_dropdown * {
    z-index: 999; /*dropdown contents always on top*/
}
.mc_dropdown ul {
    display: block;
    position: absolute;
    list-style:none;

    max-height: 200px;
    overflow-y: scroll;

    padding: 0px;
    margin: 0px;
    background-color: #818181;
    text-decoration: none;
}
.mc_dropdownItem a {
    display: none;
}
.mc_dropdownHeader {
    display: block;
    font-weight: bolder;
    background-color: #5f5f5f;
}
.mc_dropdown:hover .mc_dropdownItem a{
    display: block;
}
.mc_dropdownHeader, .mc_dropdownItem a {
    text-align: left;
    text-decoration: none;
    color: #f1f1f1;
    white-space:nowrap;
    padding: 5px 8px 5px 8px;
}
.mc_dropdownItem a:hover {
    background-color: black;
}




/*Class Scheduling Specific*/
/*/////////////////////////*/
.mc_selectedClassList {
    min-height: 55%;
    max-height: 55%;
    width: 25%; /*paired with .mc_scheduleCalendar*/
}
.mc_sideListDetail_class {
    width: 100%;
    border-collapse: collapse;

    font-size: 1.25vw; /*close enough*/
    text-align: center;
}
.mc_sideListDetail_class, .mc_sideListDetail_class th, .mc_sideListDetail_class td {
    border: solid;
    border-color: #313131;
    border-width: 1px;
}
.mc_sideListDetail_class th {
    background-color: black;
}

.mc_scheduleCalendar {
    float: left;
    height: 55%;
    width: 75%; /*paired with .mc_sideList*/
    border:solid;
    border-width: 0px 0px 2px 0px;
}
#mc_scheduleRegistration_removeSelectedClassBtn {
    opacity: 0.4;
}

.mc_classListMenu {
    clear: left;
}

.mc_classList {
    height: calc(45% - 43px - 30px); /*45%(compliment of sideList/calendar) - topNav height - menuBar height - */
    overflow-y: scroll;
    overflow-x: hidden;

    color: #c4c4bc;
    background-color: #5f5f5f;
}
.mc_classList table {
    width: 100%;
    margin-bottom: 1em;
    border-collapse: collapse;
    border-width: 0px;
}
.mc_classList tbody {
    overflow-y: scroll;
}

.mc_classList td {
    height: 0px; /*hack to work with add/remove button*/

    border: solid;
    border-color: black;
    border-width: 1px;
    padding: 1px 2px 1px 2px;
}
.mc_classList td:first-child {
    border-left-width: 0px;
}
.mc_classList td:last-child {
    border-right-width: 0px;
}

/*TODO: turn on if decided rows are clickable*/
/*
.mc_classList tbody tr:hover td:not(:first-child) {
    background-color: black;
    cursor: default;
}
*/

.mc_classList td:first-child {
    padding: 0px 0px 0px 0px;
}
.mc_classList_addRemoveSwitch {
    cursor: pointer;
    text-align: center;
    border: solid;
    border-color: black;
    border-width: 1px;
}
.mc_classListDetail {
    display: none;
    background-color: #990000; /*red, shows conflicts*/
    color: black;
}
.mc_classListDetail td div {
    padding: 0px 2px 0px 2px;
}



/*Add/Remove Classes Specific*/
/*/////////////////////////*/
.mc_manageClassesCalendar {
    height: 60%;
    width: 100%;

    border:solid;
    border-color: black;
    border-width: 0px 0px 2px 0px;
}

.mc_manageClasses_menu {
    display: flex;
    height: calc(40% - 44px - 31px - 2px); /* mc_manageClassesCalendar diff - topnav - menuBar - calendar border*/
}

.mc_manageClasses_menu_inputs {
    width: 40%;
    max-width: 600px;
    min-width: 265px;
    overflow-y: auto;
}
.mc_manageClasses_menu_inputs hr {
    margin: 3px;
}
.mc_manageClasses_menu_inputContainer {
    width: 100%;
}
.mc_manageClasses_menu_inputContainer label {
    float: left;
}
.mc_manageClasses_menu_inputContainer div {
    overflow: hidden;
}
.mc_manageClasses_menu_inputContainer input {
    float: right;
}

.mc_manageClasses_menu_times {
    display: flex;
    justify-content: center;
}
.mc_manageClasses_menu_times div {
    display: block;
}
.mc_manageClasses_menu_times div:first-child {
    white-space: nowrap;
    overflow-x: hidden;
}
.mc_manageClasses_menu_times div:last-child {
    white-space: nowrap;
    overflow-x: hidden;
}
.mc_manageClasses_menu_times button {
    width: 100%;
}
.mc_manageClasses_addTime_container {
    display: flex;
}
.mc_manageClasses_addTime_container div {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.mc_manageClasses_addTime_container input { /*checkboxes*/
    margin: 1px;
}
.mc_manageClasses_addTime_container button {
    flex-grow: 1;
}

.mc_manageClasses_menu_timesList {
    display: inline-block;
    width: 100%;
}
.mc_manageClasses_menu_timesList table {
    width: 100%;
    background-color: #5f5f5f;
    color: #c4c4bc;

    text-align: center;

    border-collapse: collapse;
}
.mc_manageClasses_menu_timesList tbody td {
    border: solid;
    border-color: black;
    border-width: 1px;
}
.mc_manageClasses_menu_timesList tbody td:first-child {
    border-left-width: 0px;
}
.mc_manageClasses_menu_timesList tbody td:last-child {
    border-right-width: 0px;
}

.mc_manageClasses_menu_timesList tr td:last-child:hover {
    cursor: pointer;
    background-color: black;
}

.mc_manageClasses_menu_selectBtns {
    display: flex;
    flex-direction: column;

    width: 20%;
    max-width: 200px;
}
.mc_manageClasses_menu_selectBtns button:first-child {
    flex-grow: 1;
}
.mc_manageClasses_menu_selectBtns button:nth-of-type(2) {
    flex-grow: 0.2;
}
.mc_manageClasses_menu_selectBtns button:nth-of-type(3) {
    flex-grow: 0.5;
}
#mc_manageClasses_addClassBtn {
    opacity: 1;
}
#mc_manageClasses_updateClassBtn, #mc_manageClasses_clearSelectionBtn, #mc_manageClasses_deleteSelectionBtn {
    opacity: 0.4;
}
.mc_manageClasses_menu_selectBtns p {
    display: none;
    padding: 2px;
    border: solid;
    border-width: 3px;
    border-color: #990000;

    transition: 1s;
}